/****对身体进行设置
 *******************************************/
body{
    background: url("../dj-img/dj-profile_bg.jpg");
    background-repeat: round;
}
/****对个人信息页面身体进行设置
 *******************************************/
/******************对身体的头部进行设置
 *******************************************/
#dj-pi-body #dj-pi-body-header{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 976px;
    height: 224px;
    /*样式设置*/
    /*盒子模型的属性*/
    background: url("../dj-img/dj-profile_header_bg.png");
    background-position-x:50%;
    background-position-y:100%;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-header #dj-pi-body-main-header{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 100%;
    /*height: 100%;*/
    /*样式设置*/
    /*盒子模型的属性*/
    background: url("../dj-img/dj-profile_header_bg_texture.jpg");
    background-position-x:50%;
    background-position-y:50%;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-main-header>.row{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    padding-top: 24px;
    padding-right: 25px;
    padding-left: 25px;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-main-header .dj-pi-left .dj-img{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 164px;
    height: 164px;
    /*样式设置*/
    /*盒子模型的属性*/
    border: 1px solid rgb(137, 137, 137);
    background: url("../dj-img/dj-pi-header-img.jpg") no-repeat;
    background-position: center;
    border-image-repeat:stretch;
    background-size: 100%;
    /*文本字体*/

    /*动画特效*/
}
/*对人物等级进行设置*/
#dj-pi-body-main-header .dj-pi-right .dj-pi-level{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 32px;
    height: 32px;
    /*样式设置*/
    /*盒子模型的属性*/
    border-color:rgb(155, 155, 155);
    border-style:solid;
    border-width:2px;
    border-radius: 32px;
    /*文本字体*/
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    color: white;
    /*动画特效*/
}
#dj-pi-body-main-header .dj-pi-right .dj-pi-level+span{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    margin-left: 10px;
    /*margin-top: 5px;*/
    /*文本字体*/
    line-height: 26px;
    font-size: 24px;
    color: white;
    /*动画特效*/
}

#dj-pi-body-main-header .dj-pi-right .dj-pi-information{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 266px;
    height: 70px;
    /*样式设置*/
    /*盒子模型的属性*/
    margin-top: 15px;
    background: rgb(34, 34, 35);
    border-radius: 3px;
    padding: 8px;
    border-bottom: 1px solid rgb(52, 57, 68);
    border-right: 1px solid rgb(52, 57, 68);
    /*文本字体*/
    /*动画特效*/
}

#dj-pi-body-main-header .dj-pi-right .dj-pi-information div{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    text-align: left;
    font-size: 13px;
    color: rgb(137, 137, 137);
    line-height: 1.3;
    /*letter-spacing: 0.5em;*/
    /*动画特效*/
}

#dj-pi-body-main-header .dj-pi-right .dj-pi-information div a{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    color: white;
    /*动画特效*/
}
#dj-pi-body-main-header .dj-pi-right .dj-pi-information div a:hover{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    color:rgb(91, 192, 244);
    text-decoration: none!important;
    /*动画特效*/
}
#dj-pi-body-main-header .dj-pi-right .dj-pi-setting-i{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 120px;
    height: 30px;
    /*样式设置*/
    /*盒子模型的属性*/
    margin-top: 15px;
    border-radius: 3px;
    background-image:linear-gradient(rgb(122, 132, 148) 5%, rgb(40, 47, 61) 95%);
    background-color:rgba(0, 0, 0, 0);
    border-bottom-color:rgb(33, 33, 33);
    border-bottom: 1px solid;
    padding: 1px;
    /*文本字体*/
    /*动画特效*/
}

#dj-pi-body-main-header .dj-pi-right .dj-pi-setting-i a{
    /*位置设置/测试边框*/
    display: block;
    /*显示和宽高设置*/
    width: 118px;
    height: 29px;
    /*样式设置*/
    /*盒子模型的属性*/
    padding-left: 15px;
    padding-right: 15px;
    /*文本字体*/
    font-size: 15px;
    color: white;
    white-space:nowrap;
    background-image:linear-gradient(rgb(51, 66, 90) 5%, rgb(40, 47, 61) 95%);
    line-height: 30px;
    /*动画特效*/
}
#dj-pi-body-main-header .dj-pi-right .dj-pi-setting-i a:hover{
    background-image:linear-gradient(rgb(59, 88, 121) 5%, rgb(40, 47, 61) 95%);
    text-decoration: none;
}
/******************对页面的身体进行修改
 *******************************************/
#dj-pi-body-body{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 950px;
    /*height: 700px;*/
    /*样式设置*/
    /*盒子模型的属性*/
    padding-bottom: 64px;
    background-image: url("../dj-img/dj-profile_content_bg.png");

    /*文本字体*/
    /*动画特效*/
}
/*对右侧的导航进行设置*/
#dj-pi-body-body .dj-pi-right{
    margin-left: -20px;
}
#dj-pi-body-body .dj-pi-right a.nav-link{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    font-size: 14px;
    color: white;
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-right a.nav-link:hover{
    text-decoration: underline;
}
/*对左侧进行设置*/
#dj-pi-body-body .dj-pi-bb-title{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 636px;
    height: 38px;
    /*样式设置*/
    /*盒子模型的属性*/
    background-color:rgb(20, 20, 20);
    /*border: 1px solid rgb(143, 152, 160);*/
    border-radius: 3px;
    margin-bottom: 10px;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 636px;
    height: 146px;
    /*样式设置*/
    /*盒子模型的属性*/
    background-color:rgb(20, 20, 20);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-top{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 100%;
    height: 69px;
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 100%;
    height: 52px;
    /*样式设置*/
    /*盒子模型的属性*/
    margin-top: 9px;
    background-color:rgb(40, 40, 40);
    border-top : 1px solid rgb(77, 77, 77);
    border-radius: 3px;
    padding: 10px;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom a{
    color:rgb(235, 235, 235);
    font-size: 13px;
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom a:hover{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    color: rgb(102, 187, 237);
    text-decoration: none;
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom label{
    color:rgb(143, 152, 160);
    font-size: 13px;
    margin-left: 5px;
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom .progress{
    /*位置设置/测试边框*/
    display: inline-block;
    /*显示和宽高设置*/
    width: 164px;
    height: 12px;
    /*样式设置*/
    /*盒子模型的属性*/
    background-color:rgb(34, 34, 35);
    border-bottom: 1px solid rgb(50, 50, 50);
    border-right: 1px solid rgb(50, 50, 50);
    border-radius: 12px;
    padding: 1px;
    /*文本字体*/
    line-height: 8px;
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom .progress-bar{
    /*位置设置/测试边框*/
    display: inline-block;
    /*显示和宽高设置*/
    height: 8px;
    text-align:left;
    /*样式设置*/
    /*盒子模型的属性*/
    background-image:linear-gradient(rgb(81, 97, 121) 5%, rgb(42, 53, 71) 95%);
    background-color:rgba(0, 0, 0, 0);
    background-attachment:scroll;
    border-radius: 8px;
    margin: 0;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-bottom img{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 32px;
    height: 32px;
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    /*动画特效*/
}
/*对头部进行设置*/
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-top a{
    color:rgb(235, 235, 235);
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-top a:hover{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    color: rgb(102, 187, 237);
    text-decoration: none;
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-cont .dj-pi-bb-cont-top p{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    margin: 0;
    color:rgb(143, 152, 160);
    font-size:13px;
    /*动画特效*/
}
/*对尾部进行设置*/
#dj-pi-body-body  .dj-pi-bb-footer{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 636px;
    /*样式设置*/
    /*盒子模型的属性*/

    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body  .dj-pi-bb-footer a{
    font-size:13px;
    color:rgb(235, 235, 235);
}
#dj-pi-body-body  .dj-pi-bb-footer a:hover{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    color: rgb(102, 187, 237);
    text-decoration: none;
    /*动画特效*/
}

#dj-pi-body-body  .dj-pi-bb-footer label{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    /*文本字体*/
    color:rgb(143, 152, 160);
    font-size: 13px;
    /*动画特效*/
}
/*对二级身体尾部进行设置*/
#dj-pi-body-body .dj-pi-bb-footer-end{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 636px;
    height: 38px;
    /*样式设置*/
    /*盒子模型的属性*/
    margin-top: 84px;
    background-color:rgb(20, 20, 20);
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    /*border: 1px solid rgb(143, 152, 160);*/
    border-radius: 3px;
    margin-bottom: 10px;
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-footer-end>label{
    color:rgb(143, 152, 160);
    font-size:20px;
    font-weight:200;
    font-family:"Motiva Sans", sans-serif;
}
#dj-pi-body-body .dj-pi-bb-footer-end input{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    width: 13px;
    height: 13px;
    /*样式设置*/
    /*盒子模型的属性*/
    background-color:rgba(0, 0, 0, 0.2);
    /*文本字体*/
    /*动画特效*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-bb-footer-end .form-check input[type="checkbox"] {
    opacity: 0;/*将初始的checkbox隐藏起来*/
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin: 20px 0 0 0;
    top: 50%;
    left: 3px;
}
/*设计新的checkbox，位置*/
#dj-pi-body-body .dj-pi-bb-footer-end  .form-check label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -9px;
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid rgb(56, 83, 119);
    border-left-color:rgb(7, 10, 15);
    border-top-color:rgb(7, 10, 15);
    background-color:rgba(0, 0, 0, 0.2);
}
/*点击初始的checkbox，将新的checkbox关联起来*/

#dj-pi-body-body .dj-pi-bb-footer-end .form-check input[type="checkbox"]:checked +label:after {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    color: rgb(79, 156, 185);
    content:url(../dj-img/dj-pi-bb-f-gou.png);
    top: 40%;
    left: 16px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 13px;
    height: 13px;
    color: #333;
}

#dj-pi-body-body .dj-pi-bb-footer-end  .form-check label{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    /*样式设置*/
    /*盒子模型的属性*/
    margin-top: 3px;
    margin-left: 15px;
    /*文本字体*/
    font-size:12px;
    line-height:26px;
    color:rgb(143, 152, 160);
    /*动画特效*/
}
/*对下滑线进行设置*/
#dj-pi-body-body .dj-pi-bb-foot-hr{
    width: 636px;
    border: 1px solid black;
    border-bottom-color:rgb(48, 48, 48);
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin-top: 30px;
}
/*对留言栏进行设置*/
#dj-pi-body-body .dj-pi-leave-message{
    padding: 8px;
}
#dj-pi-body-body .dj-pi-leave-message i{
    /*位置设置/测试边框*/
    position: relative;
    display: block;
    /*显示和宽高设置*/
    width: 32px;
    height: 32px;
    /*样式设置*/
    /*盒子模型的属性*/
    background-image: url("../dj-img/dj-pi-header-img.jpg");
    background-size: 100%;
    /*文本字体*/
    /*动画特效*/
}

#dj-pi-body-body .dj-pi-leave-message a{
    /*位置设置/测试边框*/
    display: inline-block;
    /*显示和宽高设置*/
    width: 34px;
    height: 34px;
    /*样式设置*/
    /*盒子模型的属性*/
    /*border: 1px solid ;*/
    padding: 1px;
    background-image:linear-gradient(rgb(106, 106, 106) 5%, rgb(85, 85, 85) 95%);
    /*文本字体*/
    /*动画特效*/
}
#dj-pi-body-body .dj-pi-leave-message .form-control{
    border: 0;
}
#dj-pi-body-body .dj-pi-leave-message input{
    /*位置设置/测试边框*/
    /*显示和宽高设置*/
    height: 36px;
    /*样式设置*/
    /*盒子模型的属性*/
    background-color: #3a3a3a;
    border-radius: 3px;
    /*文本字体*/
    /*动画特效*/
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-style: italic;
}
.form-control:-ms-input-placeholder {
    color: #999;
    font-style: italic;
}
.form-control::-webkit-input-placeholder {
    color: rgb(81, 81, 82);
    font-style: italic;
}