.ls-login{
    background-color: #1B2838;
    width: 100%;
    height: 512px;
    color: #c6d4df;
}

.container {
    width: 940px;
}


.col-4 {
    height: 394px;
    padding-top: 20px;
    background-color: #16202D;
    font-size: 12px;
}

/* 小标题的字体样式 */
.ls-login h2 {
    font-size: 18px;
    color: white;
}

.ls-login h3 {
    font-size: 14px;
    color: white;
}

.ls-login form input {
    background-color: #121A24;
    color: white;
}

/* 设置列表的左内边距 */
.ls-login ul {
    padding-left: 15px;
}

/* 登录按钮 */
.ls-login form button {
    margin-top: 45px;
    border: 0;
    padding: 0;
    width: 60px;
    height: 30px;
    background: rgba( 103, 193, 245, 0.2 );
    font-size: 15px;
    color: #67c1f5;
}

.ls-login form button:hover {
    background: #61B6E7;
    color: #FFFFFF;
}

/* 加入Steam */
.ls-login a span{
    display: block;
    margin-top: 168px;
    width: 110px;
    height: 30px;
    background: rgba( 103, 193, 245, 0.2 );
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    color: #67c1f5;
}

.ls-login a span:hover{
    background: #61B6E7;
    color: #FFFFFF;
}


/* 忘记密码和了解更多链接 */
.col-8 {
    padding-left: 0;
}


.row a {

    font-size: 12px;
    color: white;
}

.row a:hover {
    color: #66C0F4;
    text-decoration: none;
}

.link {
    padding-top: 10px;
}